body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Viewport Height */
}

.container {
    width: 80%;
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Offset Y position upwards by 20% */
    transform: translateY(-20%);
    text-align: center;
}

input[type="number"], button {
    margin: 10px;
    padding: 10px;
    width: 90%;
    border-radius: 4px;
}

button {
    color: white;
    background-color: #0078D7;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.success {
    color: green;  /* 可以凑出24点的文字设为绿色 */
}

.failure {
    color: red;    /* 不能凑出24点的文字设为红色 */
}